<h2 class="edit-title">ユーザー編集画面</h2>
<div class="edit-form-wrapper">
    <%= form_tag("/users/#{@user.id}/update") do %>
        <div class="edit-form-container">
            <div class="edit-center edit-name-label">ユーザ名</div>
            <div class="edit-center edit-input-form">
                <input type="text" name="name" value="<%= @user.name %>">
            </div>
        </div>
        <div class="edit-form-container">
            <div class="edit-center edit-mail-label">メールアドレス</div>
            <div class="edit-center edit-input-form">
                <input type="text" name="email" value="<%= @user.email %>">
            </div>
        </div>
        <div class="edit-form-container">
            <div class="edit-center">
                <button type="submit" class="btn btn-primary edit-btn">
                    <span class="edit-submit-label">更新</span>
                </button>
            </div>
        </div>
    <% end %>
</div>
