<h2>ユーザー編集画面</h2>
<%= form_tag("/users/#{@user.id}/update") do %>
    <p>ユーザ名</p>
    <input type="text" name="name" value="<%= @user.name %>">
    <p>メールアドレス</p>
    <input type="text" name="email" value="<%= @user.email %>">
    <input type="submit" value="更新">
<% end %>
