<h2 class="title">ユーザ一覧</h2>
<div class="user-content">
    <ul>
        <% @users.each do |user| %>
            <li class="user-items">
                <div><%= link_to(user.name, "/users/#{user.id}/show", class:"user-item") %></div>
            </li>
        <% end %>
    </ul>
</div>
