<h2 class="title">ユーザ一覧</h2>
<div class="user-content">
  <ul>
    <% @users.each do |user| %>
      <li class="user-items">
        <img src=<%= "/user-images/#{user.image_name}"%> class="index-image-size">
        <%= link_to(user.name, "/users/#{user.id}/show", class:"user-item") %>
      </li>
    <% end %>
  </ul>
</div>
