<div class="container">
  <div class="top-title">すべての話題が、ここに。</div>
  <div class="sign-up-container">
    <%= link_to("アカウント作成", "/users/signup", class:"top-link-text") %>
  </div>
  <div class="login-container">
    <%= link_to("ログイン", "/login", class:"top-link-text") %>
  </div>
</div>
