<h2 class="edit-title">投稿編集画面</h2>
<%= form_tag("/posts/#{@post.id}/update") do %>
  <% @post.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
  <div class="edit-form-container">
    <div class="edit-center edit-input-form">
      <textarea name="content"><%= @post.content %></textarea>
    </div>
  </div>  
  <div class="edit-form-container">
      <div class="edit-center">
        <button type="submit" class="btn btn-primary edit-btn">
          <span class="edit-submit-label">更新</span>
        </button>
      </div>
    </div>
<% end %>
