// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.liked {
  color: #ff2581;
}

.not-liked {
  color: #8899a6;
}

// -------------------投稿一覧画面-----------------------------------
.post-index-wrapper .title {
  font-size: 2.5rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

.post-content 
{
  display: flex;
  justify-content: center;
}

.post-content ul {
  list-style: none;
  border: black;
}

.post-items {
  margin-bottom: 4px;
  padding-top:  3rem;
  padding-bottom: 3rem;
  padding-right: 8rem;
  border: 0.3px solid;
}

.post-item {
  text-decoration: none;
  color: black;
  text-align: left;
}

// -------------------新規投稿画面-----------------------------------
.title {
  font-size: 2.5rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

.post-btn-container {
  margin-top: 3rem;
  margin-left: 0.9rem;
}

.post-btn {
  padding-top: 0.8rem !important;
  padding-bottom: 0.8rem !important;
  padding-left: 7.8rem !important;
  padding-right: 7.8rem !important;
  border-radius: 1.8rem !important;
}

.post-textarea-container {
  margin-left: 0.9rem;
}

textarea{
  resize: none !important;
  width: 18rem;
  height: 10rem;
}

// -------------------投稿詳細画面-----------------------------------
.post-show-title {
  font-size: 2.5rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom:3rem;
  margin-right: 2.7rem;
}

.post-show-center {
  display: flex;
  justify-content: center;
}

.post-show-span {
  margin-right: 3rem;
}

.post-show-link {
  text-decoration: none;
  color: gray;
}

.show-image-size {
  width: 125px;
  height: 125px;
}

.post-show-center li {
  list-style: none;
}

.post-link-container {
  margin-top: 3rem;
}