// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
//ーーーーーーーーーーーーーーーーーー新規登録画面ーーーーーーーーーーーーーーーーーーーーー
.new-title {
  font-size: 2.5rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  margin-top: 7rem;
}

.new-form-wrapper {
  margin-top:  2rem;
}

.new-form-container {
  margin-bottom: 2.5rem;
}

.new-center {
  display: flex;
  justify-content: center;
}

.new-name-label {
  margin-right: 13.3rem;
}

.new-mail-label {
  margin-right: 10.5rem;
}

.new-password-label {
  margin-right: 12.2rem;
}

.new-input-form {
  margin-left: 3rem;
}

input {
  width: 20rem;
}

.new-btn {
  padding-top: 0.8rem !important;
  padding-bottom: 0.8rem !important;
  padding-left: 8.8rem !important;
  padding-right: 8.8rem !important;
  border-radius: 1.8rem !important;
}

.new-btn-container {
  margin-left: 3rem;
}

.new-submit-label {
  font-size: 1.2rem;
  font-weight: bold;
}

//ーーーーーーーーーーーーーーーーーーログイン画面ーーーーーーーーーーーーーーーーーーーーー
.login-title {
  font-size: 2.5rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  margin-right: 2.7rem;
}

.login-form-wrapper {
  margin-top:  2rem;
}

.login-form-container {
  margin-bottom: 2.5rem;
}

.login-center {
  display: flex;
  justify-content: center;
}

.login-mail-label {
  margin-right: 10.5rem;
}

.login-password-label {
  margin-right: 12.2rem;
}

.login-input-form {
  margin-left: 3rem;
}

.login-btn {
  padding-top: 0.8rem !important;
  padding-bottom: 0.8rem !important;
  padding-left: 7.8rem !important;
  padding-right: 7.8rem !important;
  border-radius: 1.8rem !important;
}

.login-btn-container {
  margin-left: 3rem;
}

.login-submit-label {
  font-size: 1.2rem;
  font-weight: bold;
}

//ーーーーーーーーーーーーーーーーーーユーザ一覧画面ーーーーーーーーーーーーーーーーーーーーー
.user-content {
  display: flex;
  justify-content: center;
}

.user-content ul {
  list-style: none;
  border: black;
}

.user-items {
  border-color: black;
  margin-bottom: 4px;
  padding-top:  3rem;
  padding-bottom: 3rem;
  padding-right: 8rem;
  border: 0.3px solid;
}

.user-item {
  text-decoration: none;
  color: black;
}

//ーーーーーーーーーーーーーーーーーーユーザ詳細画面ーーーーーーーーーーーーーーーーーーーーー
.user-show-title {
  font-size: 2.5rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-right: 2.7rem;
}

.user-show-center {
  display: flex;
  justify-content: center;
}

.user-info-container {
  margin-bottom: 3rem;
}

.user-show-span {
  margin-right: 3rem;
}

.user-show-link {
  text-decoration: none;
  color: gray;
}

.user-show-center ul {
  list-style: none;
  border: black;
}

.user-show-items {
  border-color: black;
  margin-bottom: 4px;
  margin-right: 1.7rem;
  padding-top:  3rem;
  padding-bottom: 3rem;
  padding-right: 8rem;
  border: 0.3px solid;
}
